.detalle_compra{
    background-color: #f8f7f7;
    height: 100%;
}
.detalle_compra_titulo {
    font-size: 2.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
}
.detailCompra {
    border: 1px solid black;
    width: 30rem;
    height: 25rem;
    margin: auto;
    padding-top: 2rem;
    background-color: #d4cfcf50;
    border-radius: 10px;
    padding-bottom: 2rem;
    overflow-y: scroll;
}
.datosUser {
   color: seagreen;
   font-weight: bold; 
   font-size: 1.2rem;
   margin-bottom: 0.5rem;
   margin-top: 0.5rem;
}
.mailUser {
    font-weight: 500;
}
.datos_comprador {
    color: #413e3e;
}
.datos_compra {
    color: #413e3e; 
    margin-top: 1rem;
}
.numero_compra {
    color: #413e3e; 
    text-decoration: underline;
    margin-top: 1rem;
    
}
.fecha_compra {
    margin-top: 1rem;
   margin-bottom: 1rem;
}
.productos_compra {
    font-size: 1.5rem;
    color: #413e3e;
    font-weight: bold;
}
.titulo_detalle_compra {
    color: black;
    margin-left: 2rem;
}
.titulo_detalle_compra:hover {
    color: sandybrown;
    
}
.precio_datos_compra {
    color: #413e3e;
    font-weight: bold;
}
.peso_datos_compra {
    color: sandybrown;
    font-weight: bold;
    
}
.datos_libro_detalle {
    display: flex;
    width: 20rem;
}
.cantidad_detalle_compra {
    margin-left: 2rem;
}