.modal{
    background-color: rgb(250, 220, 164);
    display: none;
    width: 4em; 
    margin: 0;
    transition: linear;
}

.modal-open{
    display:grid;
    
}
.modal_dialog{
    align-items:center ;
}
.loginUser{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.loginPass{
    color: rgb(0, 0, 0);
    font-size: 25px;
}
.close {
    position: relative;
    float: right;
    width: 32px;
    height: 32px;

    margin-left: 81%;
    background-color: sandybrown;
    border-style: none;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 40%;
    
    }
    
    .close:before .close:after {
        position: relative;
        float: right;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }
    
    .logginBtn{
        border: none;
        width: 10rem;
        padding: 1rem;
        border-radius: 5px;
        background-color: rgb(244, 164, 96,0.5);
        color: white;
        font-weight: bold;
        font-size: 15px;

    }

    .logginBtn:hover{
        background-color: rgb(244, 164, 96,1);
    }