.logModal{
    background-color: rgb(250, 220, 164);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0; 
    width: 90%; 
    height: 90%;
    margin: 0;
    transition:  all 0.5s ease-in-out; 
    line-height: 1em;
    z-index: 1;
    position: absolute;
    justify-content: space-evenly;
}

.modal_dialog{
    align-items:center ;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.loginUser{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.loginPass{
    color: rgb(0, 0, 0);
    font-size: 25px;
}
.close {
    width: 52px;
    height: 52px;
    background-color: sandybrown;
    border-style: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 30%;
    }
    
    .close:before .close:after {
        position: relative;
        float: right;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }
    
    .logginBtn{
        border: none;
        width: 10rem;
        padding: 1rem;
        border-radius: 5px;
        background-color: rgb(244, 164, 96,0.5);
        color: white;
        font-weight: bold;
        font-size: 15px;

    }

    .logginBtn:hover{
        background-color: rgb(244, 164, 96,1);
    }

    .olvidaste{
        color: grey;
        font-size: 12px;
        margin-bottom: -1.7em;
    }

