.pasarela {
   background-color: #f8f7f7;
}


.contenedor_pasarela {
   width: 40rem;
   height: 35rem;
   margin: auto;
   overflow-y: scroll;
   background-color: #d4cfcf50;
   border-radius: 10px;
   
}
.titulo_principal_pasarela {
margin-bottom: 1rem;
padding-top: 0.5rem;
color: #413e3e;
}
.pasarela_card {
   text-align: left;
  justify-content: center;
   margin-bottom: 4rem;

}
.pasarela_cdtm {
   display:flex;
   margin-top: 2rem;
   margin-left: 5rem;
   
}
.pasarela_info {
   margin-left: 3rem;
}
.titulo_pasarela {
   color: #413e3e;
   font-weight: bold;
}
.autor_pasarela {
   color: #666666;
   font-weight: 500;
}
.editorial_pasarela {
   color: sandybrown;
   font-weight: 500;
}
.unidades_pasarela {
   color: black;
   font-weight: 500;
}
.peso_pasarela {
   color: sandybrown;
   font-weight: 500;
}
.precio_pasarela {
   color: #666666;
   font-weight: bold;
}
.datos_pasarela {
   text-align: left;
   margin-left: 5rem;
   margin-bottom: 2rem;
   font-weight: 600;
}
.datos_pasarela span {
  float: right;
  margin-right: 2rem;
  font-weight: 700;
  
}
.subtotal_pasarela {
  font-size: 1rem;
  color: #666666;
}
.total_pasarela {
   margin-top: 1rem;
   font-size: 1.3rem;
   
}
.total_numero_pasarela {
   color: #413e3e;
   
}
.tarjeta_pasarela {
  
   width: 40rem;
   height: 5rem;
   margin: auto;
   margin-top: 2rem;
}
.tarjeta {
  border: 1px solid rgb(46, 41, 37);
  border-radius: 10px;
  margin-bottom: 2rem;
}
.btn_pasarela_compra {
   margin-top: 2rem;
}